.alert-wrapper {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    opacity: 0;
    margin-top: 2rem;
    z-index: 1050;
    transition: all 300ms ease;
}

.alert-wrapper.alert-enter {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}

.alert-wrapper.alert-exit {
    transform: translateX(-50%) translateY(-20px);
    opacity: 0;
}