.hover-btn {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.366);
}

// for navbar etc.
.z-100 {
    z-index: 100;
}