.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.47);
}

/* img zoom */
.product-image-wrapper {
    position: relative;
    overflow: hidden;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.product-image-wrapper img {
    transition: transform 0.4s ease;
}

.product-card:hover img {
    transform: scale(1.1);
}